# Python 万物皆对象

In [35]:
import numpy as np
import pandas as pd
array = np.array([[1,4],[2,5],[3,6]])
df = pd.DataFrame(array)

# Create dataFrame from CSV

In [36]:
# reading from a csv file
df_exams = pd.read_csv('test.csv')

In [37]:
# check first 5 lines
df_exams.head(3)

  Unnamed: 0  score  randing
0       zhou  100.0      1.0
1       chen   99.0      2.0
2        liu   98.0      3.0

In [38]:
# check last 3 lines
df_exams.tail(3)

  Unnamed: 0  score  randing
2        liu   98.0      3.0
3        guo   97.0      4.0
4        NaN    NaN      NaN

In [39]:
# get access to the shape attribute
df_exams.shape

(5, 3)

In [40]:
# dis play n rows
pd.set_option('display.max_rows', 3)
df_exams

   Unnamed: 0  score  randing
0        zhou  100.0      1.0
..        ...    ...      ...
4         NaN    NaN      NaN

[5 rows x 3 columns]

In [41]:
# dada types of each column
df_exams.dtypes

Unnamed: 0     object
score         float64
randing       float64
dtype: object

In [42]:
# describe the basic information of csv
df_exams.describe()

       score  randing
count    4.0      4.0
...      ...      ...
max    100.0      4.0

[8 rows x 2 columns]

 # 1. Select a column

In [33]:
# select a column with [] preferred way to select a column
score = df_exams['score']

0    100
    ...
3     97
Name: score, Length: 4, dtype: int64

In [45]:
# check out the data type of a column
type(df_exams['score'])

RangeIndex(start=0, stop=5, step=1)

In [46]:
# attributes of series
df_exams['score'].index

RangeIndex(start=0, stop=5, step=1)

# 2. select two or more columns

In [48]:
#  select two columns using [[]]
df_exams[['score', 'randing']]

    score  randing
0   100.0      1.0
..    ...      ...
4     NaN      NaN

[5 rows x 2 columns]